<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>my-app</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateProduct</display-name>
    <servlet-name>CreateProduct</servlet-name>
    <servlet-class>servlet.CreateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProduct</servlet-name>
    <url-pattern>/CreateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProduct</display-name>
    <servlet-name>EditProduct</servlet-name>
    <servlet-class>servlet.EditProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProduct</servlet-name>
    <url-pattern>/EditProduct</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>home</display-name>
    <filter-name>home</filter-name>
    <filter-class>servlet.home</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>home</filter-name>
    <url-pattern>/home</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>home</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>servlet.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
</web-app>